.vbo-multipage-selector,
div.form-item-select-all {
  display: none;
}

.form-control[name="replacement_string"],
.form-control[name="search_string"] {
  width: auto;
  display: inline-block;
}

form.vbo-view-form label {
  width: 200px;
}
